h1 {
    /* font color */
    color: red;
}

.bg-green {
    /* background */
    background-color: green;
}

.text-red {
    color: red;

}

.text-blue {
    color: blue;
}

.text-green {
    color: green
}

#main {
    background-color: pink;
}

.m-15 {

    /* spacing */
    margin: 50px 0px 5px 20px;
    padding: 10px;
    /* font */
    font-family:cursive;
    font-size: 50px;
    font-weight: bolder;

    background-color: rgb(63, 63, 63);
}